---
import "../styles/global.css";

const sociallink = [
  {
    name: "GitHub",
    link: "/",
  },
  {
    name: "Frontend Mentor",
    link: "/",
  },
  {
    name: "LinkedInd",
    link: "/",
  },
  {
    name: "Twitter",
    link: "/",
  },
  {
    name: "Intagram",
    link: "/",
  },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />

    <title>Social Links</title>
  </head>
  <body class="bg-Grey-900 font-inter">
    <main class="h-screen flex justify-center items-center min-w-[375px]">
      <article
        class="text-White bg-Grey-800 p-6 w-90 rounded-2xl flex flex-col items-center"
      >
        <img
          class="rounded-full size-20 mb-6"
          src="/assets/images/avatar-jessica.jpeg"
          alt="avatar de usuario"
        />

        <h1 class="text-2xl font-semibold mb-1">Jessica Randall</h1>

        <p class="text-Green font-semibold text-sm mb-6">
          London, United Kingdom
        </p>

        <h2 class="text-sm mb-6">"Front-end developer and avid reader."</h2>

        <div>
          <nav
            class="flex flex-col justify-between h-70 text-center text-sm font-semibold"
          >
            {
              sociallink.map((link) => (
                <a
                  class=" bg-Grey-700 w-80 py-3 rounded-md hover:bg-Green hover:text-Grey-800 transition-colors "
                  href={link.link}
                >
                  {link.name}
                </a>
              ))
            }
          </nav>
        </div>
      </article>
    </main>
  </body>
</html>
